.graph-container {
    display: flex;
    color: #232A31;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    align-items: flex-start;
    background: #ffffff;
    border-radius: 20px;
    margin: 10px;
    height:40vw;
}
.graph-area {
    width: 95%;
    height: 80%;
    margin-left: auto;
    margin-right: auto;
}
.stock-chart {
    background: #1e1e1e;
}
.ButtonSelectors {
    height: 100%
}
.TypeButtons > button {
    margin: 10px;
    height: 60px;
    width: 40%;
    background-color: #232A31;
    color: #82D781;
}
.TimeButtons > button {
    margin: 10px;
    height: 60px;
    width: 40%;
    background-color: #232A31;
    color: #82D781;
}
.IntradayPeriods > button {
    margin: 10px;
    height: 60px;
    width: 24%;
    background-color: #232A31;
    color: #82D781;
}
.HistoricalPeriods > button {
    margin: 10px;
    height: 60px;
    width: 25%;
    background-color: #232A31;
    color: #82D781;
}
.stock-chart.active {
    background: green;
}
