

/* 
    Overall Graph Container
*/
/* General Graph container (for Graph & About Section) */
.general-graph-component {
    margin: 110px 10px 10px  10px;
    overflow: hidden; /* Add this to ensure no overflow */
}
/* Drid layout */
.grid-container-graph {
    padding: 20px;
    display: grid; /* Use grid layout */
    grid-template-columns: 2fr 1fr; /* Two columns with 2/3 width and 1/3 width */
    gap: 10px; /* Gap between columns */
    grid-gap: 20px;
}
/* Graph container */
.graph-container {
    
    padding: 10px 10px 10px 20px;
    display: flex;
    flex-direction: column; /* Display items in a column */
    color: #232A31;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: #ffffff;
    border-radius: 20px;
}

/* About container */
.flex-component-about {
    display: flex;
    flex-direction: column; /* Display items in a column */
    color: #232A31;
}


/* 
    Graph Title
*/
.graph-title {
    display: flex;
    flex-direction: column;
}
.graph-title h1 {
    margin-bottom: 0px;
}
.graph-title h2 {
    margin-top: 7px;
}


/* 
    Chart Size
*/
.stock-chart {
    margin: 5px 10px 0px 10px;
    width: 56vw;
    height: 29vw;
}


/* 
    Flex Container for Buttons
*/
.ButtonSelectors {
    margin: 20px 10px 10px 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

/* 
    Button Style 
*/
.ButtonSelectors > button {
    margin: 5px;
    padding: 6px 20px 6px 20px;
    border: 2px solid #e9e8e8;
    border-radius: 8px;
    background-color: #f9f9f9;
    color: #232A31;
    cursor: pointer;
}

/* 
    Formatting Split buttons underneath the graph
 */
.split-container-button {
    margin: 20px 0px 20px 5px;
    display: flex;
}
.split-buttons-box {
    padding: 0px;
    display: inline-flex;
    flex: 1;
}

.split-buttons-box:nth-child(2) {
    padding: 0px;
    justify-content: flex-end;
    margin-left: 10px;
}


.stock-chart.active {
    background: green;
}
