.graph-container {
    display: flex;
    color: #232A31;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    align-items: flex-start;
    background: #ffffff;
    border-radius: 20px;
    margin: 80px 10px 10px 10px;
    height:820px;
}
.graph-area {
    width: 66%;
    height: 70%;
    margin-left: 0;
    margin-right: auto;
}
.stock-chart {
    flex-grow: 1; /* Allow the chart to fill the container */
    width: 100%; /* Fill the width of its parent */
    min-height: 500px; /* Or any minimum height you prefer */
}
.ButtonSelectors {
    height: 20%;
    position: absolute;
    bottom: 50px;
    left: 20px;
    width: 66%
}
.ButtonHeaders {
    display: flex;
    width: 100%;
}
.ButtonHeaders > * {
    width: 315px;
    text-align: center
}
.Buttons {
    display: flex;
}
.Buttons > * {
    width: 315px;
    align-items: center;
}
.TypeButtons {
    margin-left: 20px;
}
.TypeButtons > button {
    margin: 10px;
    height: 60px;
    width: 40%;
    background-color: #232A31;
    color: #82D781;
}
.TimeButtons > button {
    margin: 10px;
    height: 60px;
    width: 40%;
    background-color: #232A31;
    color: #82D781;
}
.IntradayPeriods > button {
    margin: 10px;
    height: 60px;
    width: 24%;
    background-color: #232A31;
    color: #82D781;
}
.HistoricalPeriods > button {
    margin: 10px;
    height: 60px;
    width: 25%;
    background-color: #232A31;
    color: #82D781;
}
.stock-chart.active {
    background: green;
}
