/* PopularStocks.css */

.stock-menu {
    flex: 1;
    padding: 20px;
    border-left: 2px solid #82D781;
}

.stocks-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: #ffffff;
    gap: 20px;
    height: 100%;
    margin: 20px;
    margin-left: 35px;
}

.popular-stocks-section, .top-movers-section {
    flex: 1;
    background: #ffffff;
}

.popular-stocks-section {
    flex: 2;
}

.movers-gainers-container {
    flex: 1; /* Takes up the remaining 1/3 of the space */
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-left: 4px solid #82D781;
}

.top-movers-section {
    flex: 1;
    flex-direction: column;
    height: fit-content;
}

.top-gainers-section {
    flex: 1;
    flex-direction: column;
    height: fit-content;
    /* ... any additional styles ... */
}

.popular-stocks {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.top-movers .stock-button {
    padding: 5px 10px;
    font-size: 0.8em;
    height: 70px;
}

.top-movers {
    display: grid;
    grid-template-columns: 1fr 2fr auto auto; /* Adjust the fraction of space each column takes */
    gap: 10px; /* Adjust the gap as needed */
}

.stock-button-popular {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 5px 20px;
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: all 0.3s ease;
    font-family: 'Arial', sans-serif;
    height: 127px;
}

.stock-button-popular:hover {
    background-color: #b9f7fc;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.stock-logo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #7090B0;
    margin-right: 20px;
}

.stock-info-wrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.stock-info .company-name {
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

.stock-info .stock-price {
    font-size: 14px;
    color: #333;
}

.stock-info .stock-change, .stock-info .percent-change {
    font-size: 14px;
}

.stock-change-group {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.stock-change-positive {
    color: #4CAF50;
}

.stock-change-negative {
    color: #F44336;
}
