.backgroundRectangle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 10vh;
    background: #232A31;
    padding-left: 1em;
    padding-right: 1em;
}

.logo {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.textGlance, .textFinance, .buttons {
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 30px;
    line-height: 30px;
    color: #FFFFFF;
}

.backgroundRectangle {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    background: #232A31;
    padding-left: 1em;
    padding-right: 1em;
    z-index: 1000; /* Ensure the header stays above other content */
}

.logo {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.textGlance,
.textFinance,
.buttons {
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 30px;
    line-height: 30px;
    color: #FFFFFF;

}
.logoLink {
    text-decoration: none;
}
.buttons > * {
    text-decoration: none;
}

.graphic {
    display: flex;
    margin-right: 10px;
    align-items: flex-end;
}

.rectangle {
    width: 25px;
    background: #82D781;
    margin-right: 5px;
}

.rectangle1 {
    height: 25px;
}

.rectangle2 {
    height: 50px;
}

.rectangle3 {
    height: 75px;
}

.stock-line-menu {
    display: block;
    width: 70px;
    height: 5px;
    background-color: #FFFFFF;
    margin: 10px 0;
    border-radius: 3px;
    transition: all 0.3s ease-in-out;
}

.stock-container-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 1em;
    font-size: 35px;
    color: #FFFFFF;
    cursor: pointer;
}

.homeButton {
    margin-right: 70px;
    color: #FFFFFF;
}

.homeButton:hover {
    position: relative;
}

.homeButton:hover::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -20px;
    width: 100%;
    height: 5px;
    background-color: #82D781;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.stock-line-menu:hover {
    background-color: #82D781;
    transition: background-color 0.3s;
}