.market-summary {
    display: flex;
    background: #ffffff;
    color: #232A31;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    align-items: flex-start;
    margin-left: 35px;
}

.graph-area {
    flex: 2;
    padding: 20px;
}

.market-summary h2,
.market-summary h3 {
    margin: 0;
    padding: 0;
}

.stock-chart {
    display: flex;
    height: 500px;
    background: #1e1e1e;
}

.stock-chart.active {
    background: green;
}

.indexes-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-left: 4px solid #82D781;
    padding: 20px;
}

.indexes-section {
    flex: 1;
    flex-direction: column;
    height: fit-content;
}

.stock-change-positive {
    color: #4CAF50;
}

.stock-change-negative {
    color: #F44336;
}
