.market-container {
    display: flex;
    flex-direction: row; /* Ensure the items are laid out in a row */
    justify-content: space-between; /* Distribute space between and around content items */
    align-items: stretch; /* Stretch items to fill the container */
    color: #232A31;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: #ffffff;
    border-radius: 20px;
    margin: 110px 10px 10px  10px;
    overflow: hidden; /* Add this to ensure no overflow */
}

.home-stock-chart {
    flex-grow: 1; /* Allow the chart to fill the container */
    width: 100%; /* Fill the width of its parent */
    min-height: 500px; /* Or any minimum height you prefer */
}
